<article class="essay-card" xmlns="http://www.w3.org/1999/html">
  <p class="essay-date">{{ include.page.date | date_to_string }}</p>
  <h3>{{ include.page.title }}</h3>
  <p>{{ include.page.content | markdownify | strip_html | truncatewords: 34 }}</p>
  <div class="pill-row">
    {% for label in include.page.labels %}
      <span class="badge">{{ label }}</span>
    {% endfor %}
  </div>
  <a href="{% if include.page.essayurl %}{{ include.page.essayurl }}{% else %}{{ site.baseurl}}{{ include.page.url }}{% endif %}" class="text-link">Read More</a>
</article>
